Package: com.moxuan.regionshot
Name: RegionShot
Version: 0.7.49-roothide
Architecture: iphoneos-arm64e
Description: Lightweight floating region screenshots for iOS 15.6.
Maintainer: moxuan
Author: moxuan
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 15.0), firmware (<< 16.0)
