<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleExecutable</key><string>RegionShotPreferences</string>
<key>CFBundleIdentifier</key><string>com.moxuan.regionshot.preferences</string>
<key>CFBundleName</key><string>RegionShot</string>
<key>CFBundlePackageType</key><string>BNDL</string>
	<key>CFBundleVersion</key><string>0.7.49</string>
<key>NSPrincipalClass</key><string>RSPreferences</string>
</dict></plist>
